<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加学生</title>
</head>
<body>
<!--insert into student(name,sex,python,linux,shell) values('贾毓涛','男',100,100,100);-->
<a>请输入添加学生的信息</a><br>
<form action="/add" method="post">
姓名:<input type="text" name="add_name" id="add_name_id"><br>
性别:<input type="text" name="add_sex" id="add_sex_id"><br>
python成绩:<input type="text" name="add_python" id="add_python_id"><br>
linux成绩:<input type="text" name="add_linux" id="add_linux_id"><br>
shell成绩:<input type="text" name="add_shell" id="add_shell_id"><br>
<input type="submit" value="提交">
</form>
</body>
</html>