<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改学生信息</title>
</head>
<body>
    <form action="/update" method="POST">
        请输入要修改学生的信息 <br>
        ID<input type="text" name="update_id"><br>
        姓名<input type="text" name="update_name"><br>
        性别<input type="text" name="update_sex"><br>
        python<input type="text" name="update_python"><br>
        linux<input type="text" name="update_linux"><br>
        shell<input type="text" name="update_shell"><br>
        <input type="submit" value="确定">
    </form>
</body>
</html>